# Trabalho Prático 1 de Ciência de Dados

## Download e leitura

#### Download dos dados

In [37]:
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1AeYgV89TmYvNC__RDXr8hS0P6WOsChWg' -O filmes.csv

--2025-02-11 09:18:43--  https://docs.google.com/uc?export=download&id=1AeYgV89TmYvNC__RDXr8hS0P6WOsChWg
Resolving docs.google.com (docs.google.com)... 2800:3f0:4004:80b::200e, 142.251.133.174
Connecting to docs.google.com (docs.google.com)|2800:3f0:4004:80b::200e|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1AeYgV89TmYvNC__RDXr8hS0P6WOsChWg&export=download [following]
--2025-02-11 09:18:44--  https://drive.usercontent.google.com/download?id=1AeYgV89TmYvNC__RDXr8hS0P6WOsChWg&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 2800:3f0:4004:810::2001, 142.251.129.65
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|2800:3f0:4004:810::2001|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11380332 (11M) [application/octet-stream]
Saving to: ‘filmes.csv’

filmes.csv          100%[===================>]  10,85M  5,08MB/s    in 2,1s

2025-02-11 09:18:52 (5,08 MB/s) - ‘filmes.csv’ saved [11380332/11380332]

#### Leitura dos dados

In [1]:
import pandas as pd

filmes_df = pd.read_csv("filmes.csv")
filmes_df.head()

           genres  ...      directors_names
0          Family  ...     ['Joe Johnston']
1         Romance  ...    ['Howard Deutch']
2         Romance  ...  ['Forest Whitaker']
3  Romance,Family  ...    ['Charles Shyer']
4    Crime,Action  ...     ['Michael Mann']

[5 rows x 9 columns]

## Pré-processamento dos dados

In [2]:
import nltk
nltk.download("punkt_tab")

[nltk_data] Downloading package punkt_tab to /home/miguel/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [3]:
from nltk import sent_tokenize, word_tokenize

#### Extrair sinopse do dataframe

In [4]:
sinopses = filmes_df.sinopse
sinopses.head()

0    When two kids find and play a magical board ga...
1    John and Max resolve to save their beloved bai...
2    Based on Terry McMillan's novel, this film fol...
3    George Banks must deal not only with his daugh...
4    A group of high-end professional thieves start...
Name: sinopse, dtype: object

In [5]:
sinopses.shape

(30358,)

#### Convertendo os tokens

In [6]:
!pip install unidecode

Requirement already satisfied: unidecode in /home/miguel/anaconda3/envs/data-science/lib/python3.13/site-packages (1.3.8)

In [7]:
import string
import unidecode

Convertendo todos os tokens para letras minúsculas

In [8]:
def tokens_low(tokens):
  return [w.lower() for w in tokens]

Removendo os símbolos de pontuação

In [9]:
table = str.maketrans('', '', string.punctuation)

In [10]:
def tokens_pontuacao(tokens):
  return [w.translate(table) for w in tokens]

Convertendo carcteres especiais

In [11]:
def tokens_char_especical(tokens):
  return [unidecode.unidecode(w).lower() for w in tokens]

#### Filtrando apenas palavras

Extraindo apenas as palavras da lista de tokens

In [12]:
def tokens_apenas_words(tokens):
  return [word for word in tokens if word.isalpha()]

Removendo stop words

In [13]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/miguel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
stop_words = set(stopwords.words('english'))

In [15]:
def tokens_stop_words(tokens):
  return [word for word in tokens if not word in stop_words]

#### Stemming

In [16]:
from nltk.stem.porter import PorterStemmer

In [17]:
porter = PorterStemmer()

In [18]:
def tokens_stemming(tokens):
  return [porter.stem(word) for word in tokens]

#### Tokenizer Personalizado

In [19]:
def tokenizer_personalizado(texto):
  tokens = word_tokenize(texto)

  tokens = tokens_low(tokens)
  tokens = tokens_pontuacao(tokens)
  tokens = tokens_char_especical(tokens)
  tokens = tokens_apenas_words(tokens)
  tokens = tokens_stop_words(tokens)
  tokens = tokens_stemming(tokens)

  return tokens

## Construção da matriz de TF-IDF

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
# Cada linha do array é uma sinopse
D = [sin for sin in filmes_df.sinopse]

### Usando Tokenizer Personalizado

In [22]:
vectorizer = TfidfVectorizer(tokenizer=tokenizer_personalizado)
X = vectorizer.fit_transform(D)

/home/miguel/anaconda3/envs/data-science/lib/python3.13/site-packages/sklearn/feature_extraction/text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [23]:
X.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [24]:
vectorizer.get_feature_names_out()

array(['aa', 'aadhavan', 'aadhi', ..., 'zylberberg', 'zylberstein',
       'zyto'], dtype=object)

In [25]:
df = pd.DataFrame(X.todense(), columns = vectorizer.get_feature_names_out())
df

        aa  aadhavan  aadhi  aakansha  ...  zyl  zylberberg  zylberstein  zyto
0      0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
1      0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
2      0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
3      0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
4      0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
...    ...       ...    ...       ...  ...  ...         ...          ...   ...
30353  0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
30354  0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
30355  0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
30356  0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0
30357  0.0       0.0    0.0       0.0  ...  0.0         0.0          0.0   0.0

[30358 rows x 33435 columns]

### Usando o Padrão da Bibilioteca

In [26]:
# vectorizer = TfidfVectorizer()
# X = vectorizer.fit_transform(D)

In [27]:
# X.todense()

In [28]:
# vectorizer.get_feature_names_out()

In [29]:
# df = pd.DataFrame(X.todense(), columns = vectorizer.get_feature_names_out())
# df

## Redução de dimensionalidade

In [ ]:
from sklearn.decomposition import TruncatedSVD

In [61]:
svd = TruncatedSVD(n_components=1000)
X_REDUCED = svd.fit_transform(X)

In [45]:
y = filmes_df.genres
y

0                Family
1               Romance
2               Romance
3        Romance,Family
4          Crime,Action
              ...
30353         Biography
30354         Biography
30355      Crime,Horror
30356           Romance
30357            Action
Name: genres, Length: 30358, dtype: object

In [46]:
genres_types = []

for g in y:
    if g not in genres_types:
        genres_types.append(g)

In [47]:
df_reduced = pd.DataFrame(X_REDUCED)
df_reduced

             0         1         2   ...        97        98        99
0      0.136516 -0.025075  0.009145  ... -0.071202  0.074322  0.018060
1      0.064629 -0.026652 -0.018950  ... -0.014949 -0.045498 -0.021335
2      0.075667  0.006524 -0.053301  ... -0.025695  0.024704  0.020798
3      0.089127 -0.036122  0.016222  ...  0.064038  0.060498  0.033238
4      0.048744 -0.032325 -0.015675  ...  0.026980 -0.000394 -0.012760
...         ...       ...       ...  ...       ...       ...       ...
30353  0.057663  0.013129 -0.020833  ... -0.003889  0.010578 -0.004013
30354  0.026405  0.004534 -0.024934  ...  0.053385  0.065795 -0.030086
30355  0.037829 -0.031381  0.003972  ... -0.036552  0.022460  0.041556
30356  0.155643  0.070355  0.108168  ...  0.027335  0.001579  0.011857
30357  0.090240 -0.041444 -0.017120  ... -0.039554  0.007628 -0.026907

[30358 rows x 100 columns]

## Agrupamento

#### K-means

In [62]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=73)
kmeans.fit(X_REDUCED)
y_kmeans = kmeans.predict(X_REDUCED)

In [63]:
kmeans_prediction_df = filmes_df
kmeans_prediction_df["prediction"] = y_kmeans
kmeans_prediction_df

               genres  ...  prediction
0              Family  ...          71
1             Romance  ...          46
2             Romance  ...          53
3      Romance,Family  ...          46
4        Crime,Action  ...          28
...               ...  ...         ...
30353       Biography  ...          46
30354       Biography  ...          46
30355    Crime,Horror  ...          46
30356         Romance  ...          71
30357          Action  ...          10

[30358 rows x 10 columns]

In [64]:
group1 = kmeans_prediction_df[kmeans_prediction_df["prediction"] == 1]
group1

                       genres  averageRating  ...      directors_names prediction
263                   Romance            6.9  ...      ['Yves Angelo']          1
292                   Romance            6.4  ...  ['Tony Richardson']          1
408                    Action            7.9  ...    ['Sam Peckinpah']          1
434                    Action            6.6  ...     ['Edward Zwick']          1
456                    Action            5.2  ...     ['Simon Wincer']          1
...                       ...            ...  ...                  ...        ...
29746          Musical,Family            2.1  ...      ['Barry Mahon']          1
29758                  Horror            4.7  ...        ['Jacen Tan']          1
29797  Crime,Biography,Action            5.6  ...        ['Dick Ross']          1
29975                  Action            7.5  ...    ['Yutaka Uemura']          1
30207                  Action            5.8  ...        ['John Wynn']          1

[230 rows x 10 columns]